#-- Configuração do ambiente de desenvolvimento
NODE_ENV=development
DEBUG=false
PORT=3000
#-- Configuração do banco de dados
DB_HOST=host
DB_PORT=1234
DB_NAME=seu_nome_banco
DB_USER=seu_usuario_banco
DB_PASSWORD=
DB_SYNCHRONIZE=false
DB_LOG_LEVEL=error
#-- Autenticação
JWT_SECRET=
JWT_CIPHER_KEY=
JWT_EXPIRES_IN=1h